@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body, html {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

/* Login  */

.login-box {
  width: 380px;
  box-shadow: 0px 0px 4px 1px #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header */

.header-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13%;
  padding-bottom: 8%;
}

.header-box > img {
  width: 50%;
  margin-bottom: 4%;
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}

.header-box > label {
  font-weight: 600;
  font-size: 18px;
  color: #6D41D8;
  font-family: 'Montserrat', sans-serif;
}

/* Input */

.input-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  color: #828282;
}

.input-box > label {
  font-weight: 500;
  font-size: 13px;
  margin-bottom: 3px;
  font-family: 'Montserrat', sans-serif;
}

.input-box > input {
  border: #BFBFBF solid 2px;
  border-radius: 3px;
  height: 25px;
  padding: 5px;
  color: #828282;
  box-shadow: 0px 0px 5px rgb(239, 239, 239) inset;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 5%;
  transition: border 500ms;
}

.input-box > input:focus {
  border: #6D41D8 solid 2px;
  transition: border 500ms;
  outline: none;
}

.input-box > .orange:focus {
  border: #F26722 solid 2px;
  transition: border 500ms;
}

.input-box > .yellow:focus {
  border: #f2b822 solid 2px;
  transition: border 500ms;
}

.input-box > .green:focus {
  border: #1ED699 solid 2px;
  transition: border 500ms;
}

/* Validation */

.validation-box {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.validation-box > .bars {
  display: flex;
  flex-direction: row;
}

.validation-box > .bars > .bar {
  border-radius: 1px;
  width: 33%;
  height: 7px;
  margin-right: 6px;
}

.validation-box > .bars > .grey {
  background-color: #EDEDED;
  transition: background-color 1s;
}

.validation-box > .bars > .orange {
  background-color: #F26722;
  transition: background-color 1s;
}

.validation-box > .bars > .yellow {
  background-color: #f2b822;
  transition: background-color 1s;
}

.validation-box > .bars > .green {
  background-color: #1ED699;
  transition: background-color 1s;
}

.validation-box > .bars > .finalBar {
  margin-right: 0;
}

.validation-box > ul {
  padding: 0;
  margin-top: 3%;
  list-style: none;
}

.validation-box > ul > li {
  display: flex;
  align-items: center;
  line-height: 5px;
}

.validation-box > ul > li > .bullet {
  margin-top: 5px;
  padding: 0;
}

.validation-box > ul > li > .bullet::before {
  content: "\2022";
  color: #DBDBDB;
  font-size: 30px;
  transition: color 1s;
}

.validation-box > ul > li > .bullet-green::before {
  color: #1ED699;
  transition: color 1s;
}

.validation-box > ul > li > .bullet-orange::before {
  color: #F26722;
  transition: color 1s;
}

.validation-box > ul > li > .text {
  padding-left: 3px;
  font-weight: 600;
  font-size: 12px;
  color: #828282;
  font-family: 'Montserrat', sans-serif;
}

/* Bottom */

.bottom-box {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 13%;
}

.bottom-box > button {
  padding: 10px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  border: 0;
}

.bottom-box > .default {
  background-color: #6D41D8;
  transition: background-color 800ms;
}

.bottom-box > .warning {
  background-color: #f2b822;
  transition: background-color 800ms;
}

.bottom-box > .success {
  background-color: #1ED699;
  transition: background-color 800ms;
}

.bottom-box > .error {
  background-color: rgb(38, 39, 39);
  transition: background-color 800ms;
}

/* Mobile */

@media only screen and (max-width: 600px) {
  .login-box {
    width: 100vw;
    box-shadow: none;
    justify-content: flex-start;
  }

  .header-box {
    padding-top: 0;
  }

  .bottom-box {
    padding-bottom: 0;
  }
}
